@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito', sans-serif;
}

input{
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.716);
    padding: 10px 15px;
    margin: 0;

}

input:focus{
    border: 2px solid rgb(249, 215, 190) !important;
    
}

.primary{
    color: #ffffff;
    border:none !important;
    padding: 7px 0;
}

i{
    cursor: pointer;
    border-radius: 30px;

}

thead{
    background-image: linear-gradient(225deg, #0c0c0cda 10%, #0c0c0cda 50%, #0c0c0cda 100%);       
    opacity: 60;
    padding: 10px !important;
    color: #ff9603da
}
th{
    padding: 10px !important;
    text-align: left !important;
    
}
td{
    padding: 10px !important;
    
}
tr{
    border-bottom: 4px solid rgba(157, 88, 32, 0.203);
    
}


input[type='file']{
    border: none !important;
}
.sc-bczRLJ{
    border: none !important;
}




