<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        div {
          border-radius: 40px;
        }
        button {
            margin-top:20px;
            margin-right:10px;
            font-size:25px;
            cursor: pointer;
            transition:0.1s ease-in-out;
            background-image: linear-gradient(225deg, #DF554F 0%, #EB9F19 60%,
            #F49B4E 100%);    
            box-shadow: 0 6px 24px #49382a34;
            color: #1b1b1b; 
            padding: 8px 40px;
            border-radius: 40px;
            border-color: #d1670a;
        }
        button:hover{
            transform: scale(1.1);
            background-color: #e85855;
            box-shadow: 0 6px 24px #93795e4b;
            color: #201f1f;
            border-radius: 15px;
            transition: 0.3s ease-in-out;
            border-color: #edb98e;
            cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script>
        var status = '<%- JSON.stringify(status) %>'
        if(JSON.parse(status) === "verified"){
            if (confirm("Do you want to continue?")){
                window.location.href = "http://localhost:3000/signin"
            }
        }
    </script>
</head>
<body>
    <section class="bg-gray-50 dark:bg-gray-900">
        <br /><br />     
        <div class="container mt-4">
            <div class="bg-white shadow dark:border mt-4">
                <h1 class="text-center mt-4"> Change Password </h1>
                <form class="mt-4" action="" method="post">
                    <h2 class="text-center"><%= email%></h2>

                    <div class="form-group row">
                        <div class="col-7 mx-auto">
                            <h6 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">    
                                New-Password :
                            </h6>
                            <input 
                                class="form-control"
                                type="password" 
                                name="password" 
                                id="password" 
                                placeholder="password">
                        </div>       
                    </div>
                    <div class="form-group row">
                        <div class="col-7 mx-auto">
                            <h6 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Confirm password :
                            </h6>
                            <input 
                                class="form-control"
                                type="password" 
                                name="confirm-password" 
                                id="confirm-password"
                                placeholder="confirm new password">
                        </div>       
                    </div>
                    <div class="form-group row">
                        <div class="mx-auto mt-4">
                            <button type="submit" value="submit" class="btn btn-primary btn-block mx-auto">
                                Reset password
                            </button>
                        </div>           
                    </div>
                    <br />       
                </form>
                
            </div>
        </div>
    </section>
</body>
</html>