@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,400;1,1000&display=swap');

.addbackgound {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #f9f0e2 10%, #e8e2e2 50%, #dd871dbf 100%);       
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1650px 580px;

}


.addsong-bg {
    background-color: #ffffff4c;
    /* #423d3df1 */
    border-radius: 0;
    background: transparent;
    backdrop-filter: blur(15px);
    background-image: url(../../img/Lo-fi_page2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 800px 600px;
}

.editsong-bg {
    background-color: #ffffff4c;
    /* #423d3df1 */
    border-radius: 0;
    background: transparent;
    backdrop-filter: blur(15px);
    background-image: url(../../img/Lo-fi_page3.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 800px 600px;
}

.addsong-holder{
    width: 90vw;
    height: 70vh;
    background-color: #242323b2;
    background: transparent;
    backdrop-filter: blur(0.25px);
    color: #f0f5fa;
    display: flex;
    justify-content:left;
    align-items:center;
    padding-left: 50px;
    padding-top: 20px;

}

.addsong-div{
    background-color:#1b1b1b;
    height:660px;
    width: 960px;
    border-radius: 40px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column;
    color: #D0D1D4;
    box-shadow: 0 6px 24px #26242180;

}

.addsonginput{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #ffffff;
    color:#424141;
    padding-left:10px;
    outline: none;
}

.emailinput{
    width:80%;
    height:55px;
    position:relative; 
    border-radius:20px;
    padding-right:30px;
}

.doubleinput{
    height:60px;
    margin-bottom:20px;
    position:relative; 
    border-radius:20px;
}

.selectinput1{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #ffffff;
    color:#424141;
    padding-left:10px;
    outline: none;
}

.selectinput{
    font-family: 'Nunito', sans-serif;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #ffffff;
    color:#424141;
    padding-left:10px;
}
.selectgenre{
    font-family: 'Nunito', sans-serif;
    height: 100%;
    font-size: 25px;
}

.emailtext{
    font-size:16px;
    position: absolute;
    z-index:10;
    transition: 0.15s ease-in-out;
    top:-25px;
    left:10px;
    color:#dededd
}

.label{
    font-size:15px;
    position: absolute;
    top:-25px;
    left:10px;
    color:#dededd
}

.email{
    height: 100%; 
    top:0px;
    left:0px;
    width:100%;
    position: absolute;
    z-index:4;
    
}

.summit-button{ 
    font-size:20px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    background-image: linear-gradient(225deg, #DF554F 0%, #EB9F19 60%,
    #F49B4E 100%);    
    box-shadow: 5px 18px 22px #cf6f1b34;
    color: #363535; 
    padding: 10px 20px;
    border-radius: 25px;
}

.summit-button:hover{
    transform: scale(1.1);
    background-color: #e85855;
    box-shadow: 5px 18px 22px #93795e4b;
    color: #ffffff;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: #edb98e;
    cursor: pointer;
}

.addsummit-button{ 
    margin-left:260px;
    font-size:22px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    background-image: linear-gradient(225deg, #DF554F 0%, #EB9F19 60%,
    #F49B4E 100%);    
    box-shadow: 0 6px 24px #6c523c34;
    color: #363535; 
    padding: 8px 40px;
    border-radius: 20px;
}

.addsummit-button:hover{
    transform: scale(1.1);
    background-color: #e85855;
    box-shadow: 0 6px 24px #93795e4b;
    color: #ffffff;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    border-color: #edb98e;
    cursor: pointer;
}

.text {
    color:#3b3938;
    margin-top:6px;
}

.adback-button{ 
    margin-left:20px;
    font-size:25px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    color: #bfbfb9; 
}

.adback-button:hover{
    transform: scale(1.1);
    color: #f27507;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.editback-button{ 
    margin-top:5px;
    margin-right:20px;
    font-size:25px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    color: #706f6e; 
    border-radius: 40px;
    border-color: #f0f8ff;
}

.editback-button:hover{
    color: #f06012;
    border-radius: 15px;
    border-color: #f38831;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.delete-button{ 
    font-size:25px;
    margin-left:20px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    color: #bab8b7; 
    border-color: #f0f8ff;
}

.delete-button:hover{
    color: #f03012;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.top{
    background-image: linear-gradient(225deg, #633411f6 10%, #683711f6 50%, #62330ff6 100%);       
    opacity: 40;
    padding: 12px !important;
    font-size: 18px;
}


.manageinput{
    font-family: 'Nunito', sans-serif;
    width: 200px;
    height: 40px;
    border:none; 
    font-size: 18px;
    border-radius:20px;
    background-color: #ffffff;
    color:rgb(74, 70, 65);
    box-shadow: 0 6px 24px #534a3d80;
    padding-left:10px;
    outline: none;
}