@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,400;1,1000&display=swap');

.profile-button{ 
    font-size:15px;
    cursor: pointer;
    transition:0.1s ease-in-out;
    background-image: linear-gradient(225deg, #DF554F 0%, #EB9F19 60%,
    #F49B4E 100%);    
    box-shadow: 5px 18px 22px #cf6f1b34;
    color: #363535; 
    border-radius: 25px;
}

.profile-button:hover{
    transform: scale(1.1);
    background-color: #e85855;
    box-shadow: 5px 18px 22px #93795e4b;
    color: #ffffff;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: #edb98e;
    cursor: pointer;
}

.profilebackgound {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #f9f0e2 10%, #e8e2e2a5 50%, #9b623f66 100%);       
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1650px 580px;

}


.profile-bg {
    background-color: #ffffff4c;
    /* #423d3df1 */
    border-radius: 0;
    background: transparent;
    backdrop-filter: blur(15px);
    background-image: url(../../img/Lo-fi_page3.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 860px 860px;
}

.profile-holder{
    width: 90vw;
    height: 70vh;
    background-color: #242323b2;
    background: transparent;
    backdrop-filter: blur(0.25px);
    display: flex;
    align-items:left;
    padding-left: 150px;
    padding-top: 20px;
    justify-content: left;

}

.profile-div{
    background-color:#cdcac9;
    height:560px;
    width: 500px;
    border-radius: 40px;
    background: transparent;
    backdrop-filter: blur(0.25px);
    display:flex;
    justify-content: right;
    align-items: center;
    flex-direction:column;
    box-shadow: 0 6px 24px #26242180;

}


.profileinput{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 18px;
    border-radius:20px;
    background-color: #ffffffd3;
    color:rgb(74, 70, 65);
    box-shadow: 0 6px 24px #534a3d80;
    padding-left:10px;
    outline: none;
}

.promailinput{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #0e03037e;
    padding-left:10px;
    box-shadow: 0 6px 24px #a8561880;
    outline: none;
}

.usernameinput{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    border:none; 
    font-size: 20px;
    border-radius:20px;
    background-color: #e9e7e58b;
    padding-left:10px;
    box-shadow: 0 6px 24px #49474780;
    outline: none;
}